@font-face { font-family: YoungSerif; src: url('YoungSerif-Regular.ttf'); } 
@font-face { font-family: Outfit; src: url('Outfit-VariableFont_wght.ttf');}
body {
    background-color: #f3e5d8;
}
.preparation {
    background-color:hsl(330, 100%, 98%);
    border-radius:4%;
    padding-left:40px;
    padding-right:40px;
    padding-top:15px;
    padding-bottom:15px;
}
.container {
    margin: 0 auto;
    background-color: white;
    width:500px;    
    border-radius:50px;
    padding-top:30px;
    padding-left:30px;
    padding-right:30px;
    padding-bottom:30px;
}

img{
    width:100%;
    border-radius:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.SimpleRecipe {
    font-family: YoungSerif;
    color:hsl(24, 5%, 18%);
    font-size: 35px;
    word-wrap: break-word;
}

h2 {
    font-family: Outfit;
    color:hsl(332, 51%, 32%);
    font-size: 25px;
    line-height:1.5em;
    word-wrap: break-word;
}

p {
    font-family:Outfit;
    font-size:16px;
    line-height:1.5em;
    color:hsl(30,10%,34%)
}

li::marker  {
    color:hsl(332, 51%, 32%);
    font-family:Outfit;
}

li {
    color:hsl(30,10%,34%);
    font-family:Outfit;
    line-height: 2em;
}

h1 {
    font-family: YoungSerif;
    font-size:20px;
    color: hsl(14, 45%, 36%);
}

.brownbullet::marker {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}

table {
    width:50%;
    border-collapse:collapse;
    margin-top:10px;
    margin-left:70px;
    font-family:Outfit;
    color:hsl(30,10%,34%);
}

td {
    margin-left:10px;
    border-bottom: 1px solid grey;
}
table tr:last-child td {
    border-bottom:none;
}

.browning {
    color: hsl(14, 45%, 36%);
    font-weight: bold;
}